{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AdMunicipios list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Coddepartamento</th>
                <th>Codmunicipio</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admunicipios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codDepartamento }}</td>
                <td>{{ entity.codMunicipio }}</td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admunicipios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admunicipios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admunicipios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
