{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DatosFuerzaOtros list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idenc</th>
                <th>Coddepartamento</th>
                <th>Codmunicipio</th>
                <th>Codcomunidad</th>
                <th>Ocupacion</th>
                <th>Sectore</th>
                <th>Sectorp</th>
                <th>Generaemp</th>
                <th>Cant15</th>
                <th>Cant610</th>
                <th>Cant1115</th>
                <th>Cant1620</th>
                <th>Cant21mas</th>
                <th>Miembroorg</th>
                <th>Nombreorg</th>
                <th>Inst1</th>
                <th>Inst2</th>
                <th>Inst3</th>
                <th>Prestamofam</th>
                <th>Prestamosexo</th>
                <th>Remesas</th>
                <th>Rangoremesas</th>
                <th>Rangoingresofam</th>
                <th>Ingresoajusta</th>
                <th>Fechacreacion</th>
                <th>Usuariocreacion</th>
                <th>Usuarioultimamodificacion</th>
                <th>Fechaultimamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('datosfuerzaotros_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idEnc }}</td>
                <td>{{ entity.codDepartamento }}</td>
                <td>{{ entity.codMunicipio }}</td>
                <td>{{ entity.codComunidad }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.sectore }}</td>
                <td>{{ entity.sectorp }}</td>
                <td>{{ entity.generaemp }}</td>
                <td>{{ entity.cant15 }}</td>
                <td>{{ entity.cant610 }}</td>
                <td>{{ entity.cant1115 }}</td>
                <td>{{ entity.cant1620 }}</td>
                <td>{{ entity.cant21mas }}</td>
                <td>{{ entity.miembroorg }}</td>
                <td>{{ entity.nombreorg }}</td>
                <td>{{ entity.inst1 }}</td>
                <td>{{ entity.inst2 }}</td>
                <td>{{ entity.inst3 }}</td>
                <td>{{ entity.prestamofam }}</td>
                <td>{{ entity.prestamosexo }}</td>
                <td>{{ entity.remesas }}</td>
                <td>{{ entity.rangoRemesas }}</td>
                <td>{{ entity.rangoIngresofam }}</td>
                <td>{{ entity.ingresoAjusta }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.usuarioCreacion }}</td>
                <td>{{ entity.usuarioUltimaModificacion }}</td>
                <td>{% if entity.fechaUltimaModificacion %}{{ entity.fechaUltimaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('datosfuerzaotros_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('datosfuerzaotros_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('datosfuerzaotros_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
