{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DatosServiciospub</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idenc</th>
                <td>{{ entity.idEnc }}</td>
            </tr>
            <tr>
                <th>Coddepartamento</th>
                <td>{{ entity.codDepartamento }}</td>
            </tr>
            <tr>
                <th>Codmunicipio</th>
                <td>{{ entity.codMunicipio }}</td>
            </tr>
            <tr>
                <th>Codcomunidad</th>
                <td>{{ entity.codComunidad }}</td>
            </tr>
            <tr>
                <th>Idservicio</th>
                <td>{{ entity.idServicio }}</td>
            </tr>
            <tr>
                <th>Reciben</th>
                <td>{{ entity.reciben }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Cantdias</th>
                <td>{{ entity.cantDias }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ entity.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Usuarioultimamodificacion</th>
                <td>{{ entity.usuarioUltimaModificacion }}</td>
            </tr>
            <tr>
                <th>Fechaultimamodificacion</th>
                <td>{{ entity.fechaUltimaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('datosserviciospub') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('datosserviciospub_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
